
@import "../../common/variables";
@import "../../common/variables-hipa";
@import "./common";

.#{$ns}-numeric-input {

  // we need a very-specific selector here to override specificicty of selectors defined elsewhere.
  .#{$ns}-button-group.#{$ns}-vertical > .#{$ns}-button {
    // let the buttons shrink to equal heights
    flex: 1 1 ($pt-button-height / 2 - 1);
    min-height: 0;
    min-width: $hipa-input-height;
    padding: 0;
    width: $hipa-input-height;

    &:first-child {
      border-radius: 0 $hipa-border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $hipa-border-radius 0;
    }
  }

  // fix button border radius when the buttons are on the left
  .#{$ns}-button-group.#{$ns}-vertical {
    &:first-child > .#{$ns}-button {
      &:first-child {
        border-radius: $hipa-border-radius 0 0 0;
      }

      &:last-child {
        border-radius: 0 0 0 $hipa-border-radius;
      }
    }
  }

  &.#{$ns}-large .#{$ns}-button-group.#{$ns}-vertical > .#{$ns}-button {
    min-width: $hipa-input-height-large / 2;
    width: $hipa-input-height-large / 2;
  }
}
