$hipa-white: #ffffff;
$hipa-black: #000000;

$hipa-blue100: #007AA9;
$hipa-blue200: #008ABE;
$hipa-blue300: #0099D3;
$hipa-blue400: #B3E0F2;
$hipa-blue500: #CCEBF6;
$hipa-blue600: #EDF8FC;

$hipa-green100: #00A285;
$hipa-green200: #00AC8C;
$hipa-green300: #00BF9C;
$hipa-green400: #99E5D7;
$hipa-green500: #B3ECE1;

$hipa-orange100: #E06710;
$hipa-orange200: #EB6C11;
$hipa-orange300: #FF7512;
$hipa-orange400: #FFC8A0;
$hipa-orange500: #FFD6B8;

$hipa-red100: #D94654;
$hipa-red200: #E64A59;
$hipa-red300: #FF5263;
$hipa-red400: #FFBAC1;
$hipa-red500: #FFCBD0;

$hipa-gray100: #333333;
$hipa-gray200: #666666;
$hipa-gray300: #777777;
$hipa-gray400: #999999;
$hipa-gray500: #9F9F9F;
$hipa-gray600: #C0C0C0;
$hipa-gray700: #E6E6E6;
$hipa-gray800: #F0F0F0;
$hipa-gray900: #F6F6F6;
$hipa-gray1000: #F9F9F9;
