@import "colors-hipa";

$hipa-border-radius: 2px !default;

$hipa-grid-size: 8px !default;

$hipa-font-size1: 12px !default;
$hipa-font-size2: 13px !default;
$hipa-font-size3: 14px !default;
$hipa-font-size4: 16px !default;
$hipa-font-size5: 20px !default;
$hipa-font-size6: 24px !default;
$hipa-font-size7: 30px !default;
$hipa-font-size8: 38px !default;
$hipa-font-size9: 46px !default;
$hipa-font-size10: 56px !default;

$hipa-line-height1: 20px !default;
$hipa-line-height2: 22px !default;

$hipa-button-font-size: $hipa-font-size3;
$hipa-font-size-primary: $hipa-font-size3;
$hipa-font-size-small: $hipa-font-size2;
$hipa-font-size-big: $hipa-font-size4;

$hipa-primary-color: $hipa-blue-dark-300;
$hipa-primary-light-color: $hipa-blue-100;
$hipa-primary-disabled: $hipa-blue-300;

$hipa-button-text-none: $hipa-gray-dark-200;
$hipa-button-text-disabled-none: $hipa-gray-200;
$hipa-button-border-none: $hipa-gray-200;
$hipa-button-border-hover-none: $hipa-gray-100;
$hipa-button-border-active-none: $hipa-gray-100;
$hipa-button-border-disabled-none: $hipa-gray-300;

$hipa-button-bg-primary: $hipa-blue-dark-300;
$hipa-button-bg-hover-primary: $hipa-blue-dark-200;
$hipa-button-bg-hover-minimal-primary: $hipa-blue-200;
$hipa-button-bg-active-primary: $hipa-blue-dark-100;
$hipa-button-bg-active-minimal-primary: $hipa-blue-100;
$hipa-button-bg-disabled-primary: $hipa-blue-100;

$hipa-button-bg-success: $hipa-green-300;
$hipa-button-bg-hover-success: $hipa-green-200;
$hipa-button-bg-hover-minimal-success: $hipa-green-500;
$hipa-button-bg-active-success: $hipa-green-100;
$hipa-button-bg-active-minimal-success: $hipa-green-400;
$hipa-button-bg-disabled-success: $hipa-green-400;

$hipa-button-bg-warning: $hipa-orange-300;
$hipa-button-bg-hover-warning: $hipa-orange-200;
$hipa-button-bg-hover-minimal-warning: $hipa-orange-500;
$hipa-button-bg-active-warning: $hipa-orange-100;
$hipa-button-bg-active-minimal-warning: $hipa-orange-400;
$hipa-button-bg-disabled-warning: $hipa-orange-400;

$hipa-button-bg-danger: $hipa-red-300;
$hipa-button-bg-hover-danger: $hipa-red-200;
$hipa-button-bg-hover-minimal-danger: $hipa-red-500;
$hipa-button-bg-active-danger: $hipa-red-100;
$hipa-button-bg-active-minimal-danger: $hipa-red-400;
$hipa-button-bg-disabled-danger: $hipa-red-400;

$hipa-button-minimal-text-none: $hipa-gray-dark-200;
$hipa-button-minimal-text-disabled-none: $hipa-gray-200;
$hipa-button-minimal-bg-hover-none: $hipa-gray-400;
$hipa-button-minimal-bg-active-none: $hipa-gray-200;

$hipa-border-color: $hipa-gray-200;
